.logo{
    width: 7%;
    height: 7%;
    object-fit: contain;
}
/* Custom CSS */
.minted-green-bg {
    background-color: #98ffd1; /* Example color code for minted green */
}
.card-img-top{
    width:100%;
    height: 200px;
    object-fit: contain;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.admin-image{
    width:100px;
    object-fit: contain;
}
.cart_img{
    width: 50px;
    height: 50px;
}

